[Unit]
Description=Telmedia
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=
ExecStart=launch.sh
Restart=on-failure
RestartSec=3
RestartPreventExitStatus=3

[Install]
WantedBy=default.target
